.statList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.element {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.percentage {
  font-size: 16px;
  color: white;
}
